<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61081805-5"></script>
    <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-61081805-5');
	</script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Freecyto – Quick Data Visualization</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static',filename='assets2/css/bootstrap-table.css') }}" rel="stylesheet"/>

    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('static',filename='assets2/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href="{{ url_for('static',filename='assets2/css/animate.min.css') }}" rel="stylesheet"/>

    <!-- Special for upload files -->
    <link href="{{ url_for('static',filename='styles/upload.css') }}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{{ url_for('static',filename='assets2/css/light-bootstrap-dashboard.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static',filename='assets2/css/lity.css') }}" rel="stylesheet"/>


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='assets2/css/pe-icon-7-stroke.css') }}" rel="stylesheet"/>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
  // Your web app's Firebase configuration
  var config = {
    apiKey: "AIzaSyCrD2zujp3BBH_giX_z0S66MizZSg2PrRk",
    authDomain: "freeflow-242823.firebaseapp.com",
    databaseURL: "https://freeflow-242823.firebaseio.com",
    projectId: "freeflow-242823",
    storageBucket: "freeflow-242823.appspot.com",
    messagingSenderId: "993314335723",
    appId: "1:993314335723:web:68dd5406a45d3145"
  };
  // Initialize Firebase
  firebase.initializeApp(config);
</script>
    <script>
    if (typeof firebase === 'undefined') {
      const msg = "Please paste the Firebase initialization snippet into index.html. See https://console.firebase.google.com > Overview > Add Firebase to your web app.";
      console.log(msg);
      alert(msg);
    }
  </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body onload="submitChanges()">
<div class="modal fade" id="channels" tabindex="-1" role="dialog" aria-labelledby="channels" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Change Channels</h4>
            <p>Select at least 2 channels to continue.</p>
        </div>
        <div class="modal-body">
            <form action="{{ args['form_html'] }}" method="post">
            <div class="card">
                <div class="card-body" style="text-align:center" id="vis">

                    {% set count = [0] %}
                    {% for val in args['available_cols'] %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="channels" id="{{ count[0] }}" value="{{ count[0] }}">
                        <label class="form-check-label" for="{{ count[0] }}">{{ val }}</label>
                    </div>
                    {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  type="button" class="btn btn-secondary" onclick="unselectEverything()">Unselect All</button>
                <input type="submit" id="Button" class="btn btn-primary" value="Submit Changes" disabled="" onclick="loading();">
            </div>

        </form>
        </div>
        </div>
    </div>
</div>
<div class="wrapper">

    <div class="sidebar" data-color="purple" data-image="{{ url_for('static',filename='assets2/img/sidebar-5.jpg') }}">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://freecyto.com" class="simple-text">
                    Freecyto
                </a>
            </div>


            <ul class="nav">
                <li>
                    <a href="/login">
                        <i class="pe-7s-user"></i>
                        <p>User Information</p>
                    </a>
                </li>
                <li>
                    <a href="/upload">
                        <i class="pe-7s-cloud-upload"></i>
                        <p>New Job</p>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-gleam"></i>
                        <p>Quick Visualization</p>
                    </a>
                </li>
                <li>
                    <a href="{{ args['html_graph'] }}" onclick="loading();">
                        <i class="pe-7s-helm"></i>
                        <p>Advanced Analysis</p>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="pe-7s-study"></i>
                        <p>Guide / User Manual</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/login">Dashboard</a>
                    <div class="navbar-brand" id="loading" hidden>
                        <img src="{{ url_for('static', filename='img/loading.gif') }}">
                    </div>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="button" class="btn btn-primary" id="channels-btn" data-toggle="modal" data-target= "#channels">Change Channels</button>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    Metadata
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li>Transformation: {{ args['transformation'] }}</li>
                                <li class="divider"></li>
                                {% for file in args['exp_files'] %}
                                <li>{{ file }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    Help
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="https://freecyto.com/static/slides.pdf">Slides</a></li>
                                <li><a href="https://github.com/nathan2wong/FCA">Sample Analyis</a></li>
                                <li class="divider"></li>
                                <li><a href="mailto:nathanwong@berkeley.edu">Contact Nathan</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/" id="sign-out" onclick="">Sign Out</a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content" hidden="true">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" id="welcome-info">Please Sign in to Continue</h4>
                                <div id="firebaseui-auth-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                {% if upload %}
                                <h4 class="title">Upload Files</h4>
                                <p class="category">Upload FCS compatible files here from your flow cytometry experiment.</p>
                                {% else %}
                                <h4 class="title">Quick Visualization Results</h4>
                                <p class="category">View scatterplots, histograms, box-whisker diagrams, and more.</p>
                                {% endif %}
                            </div>
                            <div class="content">

                                <div class="siema mySiema" style="text-align:center">
                                    {% for image in args['images_to_display'] %}
                                    <!--
                                    {% if 'distribution overview (scatter matrix)' in args['filenames'][loop.index0] or 'Combined Boxplot' in args['filenames'][loop.index0] %}
                                    <div><img src="{{ image }}" alt="Siema image" style="style='height: 100%; width: auto; object-fit: contain; display:none"/></div>
                                    <a href="{{ args['images_to_display'][loop.index0] }}" data-lity data-lity-desc="Photo of a flower" class="btn">Image</a>
                                    {% else %}
                                    {% endif %}
                                    -->
                                    <div><img src="{{ image }}" alt="Siema image" style="style='height: 100%; width: auto; object-fit: contain"/></div>
                                    {% endfor %}
                                </div>
                                <div class="row" style="text-align:center">
                                    <div class="col-md-12">

                                        <span class="js-name"></span></div>
                                </div>
                                <div class="row" style="text-align:center">
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                <button class="btn js-prev">prev</button>
                                </div>
                                <div class="col-md-4">
                                    <p>Current:
                                    <span class="js-index"></span>
                                    </p>
                                    <a onclick="openImage(this)" target="_blank" class="btn" id="open">View / Download full image</a>
                                </div>
                                    <div class="col-md-2">
                                <button class="btn js-next">next</button>
                                    </div>
                                <div class="col-md-2"></div>
                                </div>


                                <style>
                                    // slider selector
                                    selector: '.siema',

                                    // animation duration
                                    duration: 200,

                                    // easuing function
                                    easing: 'ease-out',

                                    // how many slides per page
                                    perPage: 1,

                                    // start index
                                    startIndex: 0,

                                    // enable draggable
                                    draggable: true,

                                    // dragging threshold in pixels.
                                    threshold: 20,

                                    // infinite loop
                                    loop: false,
                                </style>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th class="text-center">View Option</th>
                                        <th class="text-center">Filename</th>
                                        <th class="text-center">Statistics</th>
                                        <th class="text-center">Image Lightbox</th>
                                        </thead>
                                        <tbody id = "upload-info">
                                        {% set count = [0] %}
                                        {% set histo = [0] %}
                                        {% for file in args['filenames'] %}
                                        <tr>
                                            <td id ="{{ count[0] }}x" class="text-center" data-sortable="false"></td>
                                            <td class="text-center" data-sortable="true">{{ file|string }}</td>
                                            <td class="text-center" data-sortable="false">
                                            {% if 'Combined Boxplot' in file %}
                                                {% for stat in args['boxwhisker_stats'] %}
                                                <p style="font-size:10px">{{ stat }}</p>
                                                {% endfor %}

                                            {% elif 'Histogram' in file %}
                                                <p style="font-size:10px">
                                                    {% for file in args['exp_files'] %}
                                                    {{ args['describe'][histo[0]]|string }}
                                                    <br>
                                                    {% if histo.append(histo.pop() + 1) %}{% endif %} {# increment histo by 1 #}
                                                    {% endfor %}
                                                    </p>
                                            {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ args['images_to_display'][count[0]] }}" data-lity data-lity-desc="Quick Visualization">Image</a>
                                            </td>
                                        </tr>
                                        {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>
                                <hr>
                                <div class="footer">
                                    {% if upload %}
                                    <div class="stats"  >
                                        <i class="fa fa-clock-o"></i> Ensure all file FCS names are unique
                                    </div>
                                    {% else %}
                                    <div class="row">
                                    <div class="header">
                                        <h4>Experimental Visualizations</h4>
                                        {% for key, val in args['experimental'].items() %}
                                        <li><a href="{{ val }}" data-lity data-lity-desc="Experimental Visualization">{{ key }}</a></li>
                                        {% endfor %}
                                        <li><a href="{{ args['csv'] }}" download="rawData.xlsx">Download Raw Excel Spreadsheet</a></li>
                                    </div>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Change Channels</h4>
                                <p class="category">Select at least 2 channels to continue.</p>
                            </div>
                            <div class="content">
                                <form action="{{ args['form_html'] }}" method="post">
                                    <div class="card">
                                        <div class="card-body" style="text-align:center" id="vis">

                                            {% set count = [0] %}
                                            {% for val in args['available_cols'] %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="channels" id="{{ count[0] }}" value="{{ count[0] }}">
                                                <label class="form-check-label" for="{{ count[0] }}">{{ val }}</label>
                                            </div>
                                            {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                                            {% endfor %}
                                        </div>
                                    </div>
                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-2" style="text-align:left">
                                                    <button  type="button" class="btn btn-secondary" onclick="unselectEverything()">Unselect All</button>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2"  style="text-align:right">
                                                    <input type="submit" id="Button" class="btn btn-primary" value="Submit Changes" disabled="" onclick="loading();">
                                                </div>
                                                <div class="col-md-3"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://freecyto.com">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/embed/w2V3dAwyK2I">
                                Video
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/nathan2wong/FCA">Freecyto</a>
                </p>
            </div>
        </footer>

    </div>
</div>
</div>


</body>

<!--   Core JS Files   -->
<script src="{{ url_for('static',filename='assets2/js/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets2/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets2/js/lity.js') }}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="{{ url_for('static',filename='assets2/js/chartist.min.js') }}" type="text/javascript"></script>

<!--  Notifications Plugin    -->
<script src="{{ url_for('static',filename='assets2/js/bootstrap-notify.js') }}" type="text/javascript"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{{ url_for('static',filename='assets2/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='assets2/js/siema.min.js') }}" type="text/javascript"></script>
<script>
                                    var mySiema = new Siema({
                                        selector: '.mySiema',
                                        onInit: printSlideIndex,
                                        onChange: printSlideIndex,
                                    });
                                    Siema.prototype.addPagination = function () {
  var _this = this;

  var _loop = function _loop(i) {
    var btn = document.createElement('button');
    var td = document.getElementById(i.toString()+"x");
    btn.classList.add("btn");
    btn.textContent = i;
    btn.addEventListener('click', function () {
      return _this.goTo(i);
    });
    _this.selector.appendChild(btn);
    td.appendChild(btn);

  };

  for (var i = 0; i < this.innerElements.length; i++) {
    _loop(i);
  }
};

// Trigger pagination creator
mySiema.addPagination();
                                    document.querySelector('.js-prev').addEventListener('click', function() {mySiema.prev()});
                                    document.querySelector('.js-next').addEventListener('click', function() {mySiema.next()});
  function printSlideIndex() {
  document.querySelector('.js-index').innerHTML = this.currentSlide;
  var filename = {{ args['filenames']|tojson }}[Number(this.currentSlide)];
  document.querySelector('.js-name').innerHTML = filename;

  this.innerElements.forEach((slide, i) => {
    const addOrRemove = i === this.currentSlide ? 'add' : 'remove';
    this.innerElements[i].classList[addOrRemove]('show');
  })
}

                                </script>

<script>
        function submitChanges() {
        	var selected = {{ args['selected']|tojson }};
        	console.log(selected);
			var allInputs = document.getElementsByTagName("input");
			for (var i = 0, max = allInputs.length; i < max; i++){
				if (allInputs[i].type === 'checkbox') {
				    console.log(selected, i);
					if (selected.includes(i)) {
					    console.log(allInputs[i]);
						allInputs[i].checked = true;
					}
					else {
					    allInputs[i].checked = false;
				    }
				}
			}
		}

		function unselectEverything() {
			var allInputs = document.getElementsByTagName("input");
			for (var i = 0, max = allInputs.length; i < max; i++){
				if (allInputs[i].type === 'checkbox') {
					allInputs[i].checked = false;
				}
			}
		}

        $('input[type=checkbox]').change(function(e){
           var button = document.getElementById("Button");
           if ($('input[type=checkbox]:checked').length < 2) {
                button.disabled = true;
           }
           else {
                button.disabled = false;

           }
        })
</script>
<script>
    function openImage(link) {
        var index = document.getElementsByClassName("js-index")[0].innerHTML;
        var image = {{ args['images_to_display']|tojson }}[Number(index)];
        link.href = image;
    }
</script>
<script src="{{ url_for('static',filename='assets2/js/bootstrap-table.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    var $table = $('#bootstrap-table');

    $().ready(function(){
        $table.bootstrapTable({
            toolbar: ".toolbar",
            clickToSelect: true,
            showRefresh: true,
            search: true,
            showToggle: true,
            showColumns: true,
            pagination: false,
            searchAlign: 'left',
            pageSize: 20,
            clickToSelect: false,
            pageList: [8,10,25,50,100],

            formatRecordsPerPage: function(pageNumber){
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle',
                toggleOff: 'fa fa-toggle-off',
                toggleOn: 'fa fa-toggle-on'
            }
        });

        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $table.bootstrapTable('resetView');
        });

    });

function loading(){
    $("#loading").show();     
} 



</script>
</html>
